In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

C:\Users\nosha\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [3]:
# See if the model performs better with just taking EIN column out
application_df = application_df.drop(columns =['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [24]:
name_type_counts = application_df['NAME'].value_counts()
name_type_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [30]:
# remove values of 1
my_cutoff_range = name_type_counts<100
name_to_replace = list(name_type_counts[my_cutoff_range].index)
print(my_cutoff_range)

PARENT BOOSTER USA INC                                                  False
TOPS CLUB INC                                                           False
UNITED STATES BOWLING CONGRESS INC                                      False
WASHINGTON STATE UNIVERSITY                                             False
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         False
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                            True
AIESEC ALUMNI IBEROAMERICA CORP                                          True
WEALLBLEEDRED ORG INC                                                    True
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI     True
WATERHOUSE CHARITABLE TR                                                 True
Name: NAME, Length: 19568, dtype: bool

In [31]:
# Replace in dataframe
for app in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [32]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
app_classification_counts = application_df['CLASSIFICATION'].value_counts()
app_classification_counts.head(50)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
C2190        1
C4200        1
C2600        1
C5200        1
C1370        1
Name: CLASSIFICATION, dtype: int64

In [36]:
# You may find it helpful to look at CLASSIFICATION value counts >9
#  YOUR CODE GOES HERE
app_class_counts1 = app_classification_counts>9
app_class_counts1.head(50)

C1000     True
C2000     True
C1200     True
C3000     True
C2100     True
C7000     True
C1700     True
C4000     True
C5000     True
C1270     True
C2700     True
C2800     True
C7100     True
C1300     True
C1280     True
C1230     True
C1400     True
C7200     True
C2300     True
C1240     True
C8000     True
C7120     True
C1500     True
C1800     True
C6000     True
C1250     True
C8200     True
C1238     True
C1278     True
C1235    False
C1237    False
C7210    False
C2400    False
C1720    False
C4100    False
C1257    False
C1600    False
C1260    False
C2710    False
C0       False
C3200    False
C1234    False
C1246    False
C1267    False
C1256    False
C2190    False
C4200    False
C2600    False
C5200    False
C1370    False
Name: CLASSIFICATION, dtype: bool

In [37]:
my_cutoff_range2 = app_classification_counts<100
classifications_to_replace = list(app_classification_counts[my_cutoff_range2].index)
print(classifications_to_replace)

['C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [38]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [41]:
application_df['NAME'].nunique()

31

In [42]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
converted_df = pd.get_dummies(application_df)
converted_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [43]:
# Remove IS_SUCCESSFUL target from the features data
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = converted_df.drop(columns='IS_SUCCESSFUL')
y = converted_df['IS_SUCCESSFUL']

In [44]:
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42, stratify=y)

In [45]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [46]:
## Compile, Train and Evaluate the Model

In [47]:
X.shape

(34299, 88)

In [55]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=60, activation='relu', input_dim=88))

# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=60, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 60)                5340

 dense_4 (Dense)             (None, 60)                3660

 dense_5 (Dense)             (None, 1)                 61

=================================================================
Total params: 9,061
Trainable params: 9,061
Non-trainable params: 0
_________________________________________________________________

In [58]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [59]:
# Increasing the epochs to 100 from 50
#  YOUR CODE GOES HERE
fir_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 5ms/step - loss: 0.4842 - accuracy: 0.7618
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4821 - accuracy: 0.7626
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4819 - accuracy: 0.7613
Epoch 4/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4801 - accuracy: 0.7636
Epoch 5/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4800 - accuracy: 0.7637
Epoch 6/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4797 - accuracy: 0.7636
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4793 - accuracy: 0.7637
Epoch 8/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4786 - accuracy: 0.7640
Epoch 9/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4786 - accuracy: 0.7635
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4777 - accuracy: 0.7640
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4777 - accuracy: 0.7648
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4770 - accuracy: 0.7642
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4767 - accuracy: 0.7661
Epoch 14/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4762 - accuracy: 0.7650
Epoch 15/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4761 - accuracy: 0.7661
Epoch 16/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4762 - accuracy: 0.7646
Epoch 17/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4761 - accuracy: 0.7662
Epoch 18/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4752 - accuracy: 0.7651
Epoch 19/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4752 - accuracy: 0.7656
Epoch 20/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4748 - accuracy: 0.7655
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4747 - accuracy: 0.7667
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4747 - accuracy: 0.7664
Epoch 23/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4742 - accuracy: 0.7673
Epoch 24/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4742 - accuracy: 0.7661
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4741 - accuracy: 0.7664
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4738 - accuracy: 0.7656
Epoch 27/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4736 - accuracy: 0.7660
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4735 - accuracy: 0.7661
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4733 - accuracy: 0.7662
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4727 - accuracy: 0.7672
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4729 - accuracy: 0.7673
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4725 - accuracy: 0.7673
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4726 - accuracy: 0.7678
Epoch 34/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4721 - accuracy: 0.7683
Epoch 35/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4724 - accuracy: 0.7659
Epoch 36/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4720 - accuracy: 0.7669
Epoch 37/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4718 - accuracy: 0.7675
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4716 - accuracy: 0.7667
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4719 - accuracy: 0.7673
Epoch 40/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4716 - accuracy: 0.7672
Epoch 41/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4711 - accuracy: 0.7674
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4716 - accuracy: 0.7672
Epoch 43/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4710 - accuracy: 0.7675
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4710 - accuracy: 0.7681
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4711 - accuracy: 0.7674
Epoch 46/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4709 - accuracy: 0.7680
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4708 - accuracy: 0.7678
Epoch 48/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4701 - accuracy: 0.7675
Epoch 49/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4702 - accuracy: 0.7671
Epoch 50/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4703 - accuracy: 0.7684
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4704 - accuracy: 0.7669
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4703 - accuracy: 0.7681
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4697 - accuracy: 0.7685
Epoch 54/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4702 - accuracy: 0.7675
Epoch 55/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4694 - accuracy: 0.7670
Epoch 56/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4700 - accuracy: 0.7684
Epoch 57/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4697 - accuracy: 0.7677
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4695 - accuracy: 0.7686
Epoch 59/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4692 - accuracy: 0.7688
Epoch 60/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4691 - accuracy: 0.7692
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4693 - accuracy: 0.7687
Epoch 62/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4696 - accuracy: 0.7683
Epoch 63/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4692 - accuracy: 0.7679
Epoch 64/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4685 - accuracy: 0.7692
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4689 - accuracy: 0.7672
Epoch 66/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4688 - accuracy: 0.7678
Epoch 67/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4680 - accuracy: 0.7695
Epoch 68/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4683 - accuracy: 0.7693
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4686 - accuracy: 0.7685
Epoch 70/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4683 - accuracy: 0.7689
Epoch 71/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4687 - accuracy: 0.7686
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4680 - accuracy: 0.7684
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4683 - accuracy: 0.7692
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4685 - accuracy: 0.7697
Epoch 75/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4685 - accuracy: 0.7678
Epoch 76/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4677 - accuracy: 0.7690
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4678 - accuracy: 0.7690
Epoch 78/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4677 - accuracy: 0.7690
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4679 - accuracy: 0.7687
Epoch 80/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4675 - accuracy: 0.7689
Epoch 81/100

804/804 [==============================] - 4s 5ms/step - loss: 0.4676 - accuracy: 0.7705
Epoch 82/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4677 - accuracy: 0.7693
Epoch 83/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4675 - accuracy: 0.7688
Epoch 84/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4672 - accuracy: 0.7692
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4681 - accuracy: 0.7691
Epoch 86/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4678 - accuracy: 0.7694
Epoch 87/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4671 - accuracy: 0.7694
Epoch 88/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4671 - accuracy: 0.7691
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4675 - accuracy: 0.7692
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4670 - accuracy: 0.7691
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4671 - accuracy: 0.7698
Epoch 92/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4669 - accuracy: 0.7692
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4670 - accuracy: 0.7694
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4673 - accuracy: 0.7695
Epoch 95/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4667 - accuracy: 0.7690
Epoch 96/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4667 - accuracy: 0.7687
Epoch 97/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4678 - accuracy: 0.7697
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4670 - accuracy: 0.7688
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4667 - accuracy: 0.7696
Epoch 100/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4664 - accuracy: 0.7697

In [60]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5168 - accuracy: 0.7527 - 1s/epoch - 4ms/step
Loss: 0.5168347358703613, Accuracy: 0.7526530623435974

In [61]:
## Achieved an accuracy higher than 75.00%!

In [62]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
from keras.models import load_model

nn_model.save('AlphabetSoupCharity_Optimization.h5')  # creates a HDF5 file 'my_model.h5'
del nn_model  # deletes the existing model

# returns a compiled model
# identical to the previous one
nn_model = load_model('AlphabetSoupCharity_Optimization.h5')